<style>
    /* Hide columns in mobile view */
    @media (max-width: 767px) {
        #dataTable td:nth-child(2),
        #dataTable td:nth-child(3),
        #dataTable td:nth-child(4),
        #dataTable td:nth-child(5),
        #dataTable td:nth-child(6) {
            display: none;
        }
    }

    /* Show button to toggle visibility of hidden columns */
    @media (max-width: 767px) {
        .dt-buttons {
            display: block;
            text-align: center;
            margin-bottom: 15px;
        }
        .dt-buttons button {
            margin: 5px;
        }
    }
</style>
